body {
     padding-top:50px;
}


/*
轮播
*/
.carousel {
          height:350px;
          background-color:#000;
          margin-bottom:50px;
}

.carousel .item {
          height:350px;
          background-color:#000;

}

.carousel img {
              width:100%;
}


/*
4栏布局
*/

#summary-container .col-md-3 {
                   text-align:center;
}

#summary-container img {
                   width:100px;
                   height:100px;
                   
}

/*
预览列表
*/
#nails-container img {
                 height:150px;
                 width:100%;
}


#nails-container ul li{
                list-style-type:none;  
} 

/*
分割线
*/

hr.divider {
            margin-top:50px;
            margin-bottom:20px;
}

/*
模态框
*/
.feature {
         padding:10px,0;
}

.feature-heading {
                 font-size:30px;
                 color:#2a6496;
                 margin-top:20px;             
}

.feature-image {
              height:170px;
              width:200px;
}


/*
realtime
*/

#real-container {
                margin-top:50px; 
}

#real-container .panel-heading{
                margin-bottom:20px; 
}

/*
网站底部
*/
.footer {
	margin-top: 0;
	
	border-top: 1px solid #292929;
}

.footer-inner {
	padding: 15px 0;
	
	font-size: 12px;
	background: #111;
	color: #999;
}

.footer a {
	color: #999;
}

.footer a:hover {
	color: #FFF;
	text-decoration: none;
}















