<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="static/img/jpg/banner01.jpg" alt="...">

        </div>
        <div class="item">
            <img src="static/img/jpg/banner03.jpg" alt="...">

        </div>
        <div class="item">
            <img src="static/img/jpg/banner04.jpg" alt="...">

        </div>
        <div class="item">
            <img src="static/img/jpg/banner05.jpg" alt="...">

        </div>
        <div class="item">
            <img src="static/img/jpg/banner06.jpg" alt="...">

        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<!--4栏布局 -->
<div class="container" id="summary-container">
    <div class="row">
        <div class="col-md-3">
            <img class="img-circle" src="static/img/jpg/cloud.jpg" alt="">
            <h2> 云管家</h2>
            <p>基于私有云平台高速处理能力及海量存储能力，多种加密方式，保证数据安全。7*24小时检测和预警。</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle" src="static/img/png/mobile.png" alt="">
            <h2>多屏互联</h2>
            <p>系统前端采用了先进的自适应布局技术，满足移动化办公和管理的需求。让您随时随地掌握企业能耗数据。</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle" src="static/img/png/service.png" alt="">
            <h2> 分布式</h2>
            <p>采用信息化和工业化融合的一体化系统架构，分布式数据处理方式，系统可扩展性、稳定性高。</p>
        </div>
        <div class="col-md-3">
            <img class="img-circle" src="static/img/jpg/manager.jpg" alt="">
            <h2> 精益化</h2>
            <p>推动能源管理精益化改革，建立“科学规划-实时管控-精细考核-优化提升”的闭环管理模式，实现降本增效，节能减排。</p>
        </div>
    </div>
</div>

<hr class="divider">